<!DOCTYPE html>
<html>
<head>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script>
function updateProgress(progress) {
    for (var video in progress) {
        var progressBar = document.getElementById(video);
        if (progressBar == null) {
            progressBar = $("<div>")
                .attr("id", video)
                .attr("class", "progress-bar")
                .attr("role", "progressbar");
            newDiv = $("<div>")
                .attr("style", "width: 60%; margin: 10px 10px 10px 10px;");
            newDiv.append(progressBar);
            $("#container").append(newDiv);
        }
        progressBar.style.width = progress[video]["percent"] + "%";
        progressBar.innerHTML = progress[video]["percent"] + "%";
    }
}
setInterval(function() {
  fetch('/progress/data')
    .then(response => response.json())
    .then(data => {
      updateProgress(data.progress);
    });
}, 10000);
</script>
</head>
<body>
<h1>Video Transcoding Progress</h1>
<div id="container">
{% for video in progress %}
{{video}}
<div class="progress" style="width: 60%; margin: 10px 10px 10px 10px;">
<div id="{{video}}" class="progress-bar" role="progressbar" style="width: {{progress[video]["percent"]}}%; height: 20px; background-color: green;">
{{progress[video]["percent"]}}&percnt;
</div>
</div>
</div>
{% endfor %}
</body>
</html>
